<div class="space-y-4">
  <%= @form.hidden_field @method, value: "" %>
  <% content = capture {
    @form.collection_checkboxes(@method, @collection, @item_value_method, @item_label_method) do |checkbox_item|
      content_tag :div, class: "checkbox_item" do
        concat checkbox_item.checkbox
        concat checkbox_item.label
      end
    end
  } %>
  <% concat content %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
