<div class="form_component">
  <%= @form.hidden_field @method, value: "" %>
  <% content = capture {
    @form.collection_radio_buttons(@method, @collection, @item_value_method, @item_label_method) do |radio_button_item|
      content_tag :div, class: "radio_button_item" do
        concat radio_button_item.radio_button
        concat radio_button_item.label
      end
    end
  } %>
  <% concat content %>
  <%= render(FormErrorsComponent.new(form: @form, method: @method)) %>
</div>
