<%= @form.label @method, @label, class: "label block leading-none #{required_class}" %>
<% if @help_text %>
  <p class="help_text mt-2 leading-none">
    <%= @help_text %>
  </p>
<% end %>
<%= @form.text_field @method, class: "mt-2 border border-zinc-900"%>
<%= render(FormErrorsComponent.new(form: @form, method: @method)) %>